<ion-view view-title="OCDSoft - Greg Hardin - Software Developer">
  <ion-content>
    <div class="row">
      <div class="col">
        <div class="list card">
<div class="item item-divider">
    About
  </div>
  
   <div class="item item-avatar">
    <img src="https://avatars3.githubusercontent.com/u/5252898?v=3&u=0201ab0a903c3245e2f5d15508ea308ec64c3214&s=140">
    <h2>Greg Hardin</h2>
    <p>Software Developer</p>
  </div> 
  <div class="item item-body">   
    <p>
      I started in software development 12 years ago doing VB6 building Win apps.  
      I've been doing ASP.Net in C# for about the last 10 years for my day job.  
      In recent years I've enjoyed playing with Ionic, Angular, Firebase and other frameworks built on Node and JavaScript. 
      I've also been getting more active on GitHub and would like to contributeinvolved in open source.
      I live in Keizer, OR with my amazing wife and three great kids. 
    </p>    
  </div>
</div>
      </div>      
    </div> 
    <div class="row">
      <div class="col">
        <div class="card">
            <div class="item item-text-wrap text-center">
               <h1>Go Write Some Code!</h1>
             </div>
        </div>
      </div>
    </div>      
  </ion-content>
</ion-view>
