<ion-view view-title="OCDSoft - Greg Hardin - Software Developer">
    <ion-content>
        <div class="row responsive-sm">
            <div class="col">
                <div class="list card">
                    <div class="item item-divider text-center">
                        About
                    </div>
                    <div class="item item-avatar">
                        <img src="https://avatars3.githubusercontent.com/u/5252898?v=3&u=0201ab0a903c3245e2f5d15508ea308ec64c3214&s=140">
                        <h2>Greg Hardin</h2>
                        <p>Software Developer</p>
                    </div>
                    <div class="item item-body">

                        <p>
                            I started in software development 17 years ago doing VB6 building Win apps. I've been doing ASP.Net in C# for about the last
                            11 years for my day job. In recent years I've enjoyed playing with Ionic, Angular, Firebase and
                            other frameworks built on Node and JavaScript. I've also been getting more active on GitHub and
                            would like to start contributing to open source. I'm currently really excited about <a href="https://github.com/dotnet/aspnetcore/tree/main/src/Components">Blazor</a>, which is C# in browser via WebAssembly.
                        </p>
                        <p>
                            I live in Keizer, OR with my amazing wife and three great kids.
                        </p>
                    </div>
                    <div class="list card">
                        <a href="https://twitter.com/OCDSoft" class="item item-icon-left">
                            <i class="icon ion-social-twitter"></i> Twitter
                        </a>
                    </div>
                    <div class="list card">
                        <a href="https://github.com/ocdsoft" class="item item-icon-left">
                            <i class="icon ion-social-github"></i> Github
                        </a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="list card">
                    <div class="item item-divider text-center">
                        Recommendations
                    </div>

                    <div class="item item-body">
                        <div class="list card">
                            <a href="http://ionicframework.com/" class="item item-icon-left">
                                <i class="icon ion-ionic"></i>
                                Ionic Framework
                            </a>

                            <a href="https://www.codecademy.com/" class="item item-icon-left">
                                <i class="icon ion-university"></i>
                                Code Academy
                            </a>

                            <a href="https://www.dotnetfoundation.org/netcore" class="item item-icon-left">
                                <i class="icon ion-social-tux"></i>
                                .NET Core
                            </a>

                            <a href="https://code.visualstudio.com/" class="item item-icon-left">
                                <i class="icon ion-social-apple"></i>
                                Visual Studio Code
                            </a>
                            <a href="https://www.visualstudio.com/en-us/products/visual-studio-community-vs.aspx" class="item item-icon-left">
                                <i class="icon ion-social-windows"></i>
                                Visual Studio Community
                            </a>
                             <a href="https://minecraft.makecode.com/" class="item item-icon-left">
                                <i class="icon ion-social-windows"></i>
                                Minecraft Make Code
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="list card">
                    <div class="item item-divider text-center">
                        Following
                    </div>

                    <div class="item item-body">
                        <p>
                            Blazor, which is enabling writing client side C# in the browser via WebAssembly.  It went into production with .Net Core 3.1.  It's also open source and open for contribution. I'm building a Blazor server app at work and Blazor WASM app on a personal project.
                        </p>
                         <div class="list card">
                             <a href="https://github.com/dotnet/aspnetcore/tree/main/src/Components" class="item item-icon-left">
                                <i class="icon ion-social-github"></i>
                                Blazor Repo
                            </a>
                            <a href="https://blazortrain.com/" class="item item-icon-left">
                                <i class="icon ion-document"></i>
                                Bite-sized Blazor training
                            </a>
                         </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="list card">
                    <div class="item item-divider text-center">
                        Listening
                    </div>

                    <div class="item item-body">
                        <p>I pick and choose on the episodes, but these are the shows I listen to consistently.</p>
                       <div class="list card">
                             <a href="https://dotnetrocks.com/" class="item item-icon-left">
                                <i class="icon ion-headphone"></i>
                                .Net Rocks!
                            </a>
                            <a href="http://mikerowe.com/podcast/" class="item item-icon-left">
                                <i class="icon ion-headphone"></i>
                                The Way I Heard It
                            </a>
                           <a href="https://devchat.tv/js-jabber" class="item item-icon-left">
                                <i class="icon ion-headphone"></i>
                                JavaScript Jabber
                            </a>
                           <a href="https://www.dailywire.com/podcasts/show/ben-shapiro-show" class="item item-icon-left">
                                <i class="icon ion-headphone"></i>
                                Ben Shapiro Show
                            </a>
                           <a href="http://rzim.org/let-my-people-think-broadcasts/" class="item item-icon-left">
                                <i class="icon ion-headphone"></i>
                                Let My People Think
                            </a>
                           <a href=" https://itunes.apple.com/us/podcast/church-on-the-hill-sermons/id354915487" class="item item-icon-left">
                                <i class="icon ion-headphone"></i>
                                Church on the Hill Sermons
                           </a>                          
                         </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="item item-text-wrap text-center">
                        <h1>Go Beavs!</h1>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
